@import 'normalize.css';

html,body {
  width: 100%;
}
body {
  position: relative;
}

#app-container {
  display: flex;
  flex-direction: column;
  transition: all .5s;
}

.section-item {
  background: url('../images/bg_part1.png') no-repeat;
  background-size: cover;
  height: 14258px;

  .u-logo {
    position: relative;
    margin-top: 132px;
    display: flex;
    justify-content: space-around;
  }

  .u-logo-hjs {
    display: block;
    width: 538px;
    height: 82px;
    background: url('../images/logo_huijinsuo.png') no-repeat;
    background-size: contain;
  }

  .u-logo-cang {
    margin-top: -24px;
    display: block;
    width: 112px;
    height: 130px;
    background: url('../images/logo_heise.png') no-repeat;
    background-size: contain;
  }

  .u-logo-hongqiao {
    display: block;
    width: 480px;
    height: 82px;
    background: url('../images/logo_hongqiao.png') no-repeat;
    background-size: contain;
  }

  .u-text {
    margin-top: 116px;
  }

  .u-text-1 {
    display: block;
    width: 818px;
    height: 802px;
    background: url('../images/text-1.png') no-repeat;
    background-size: contain;
    margin: 0 auto;
  }

  .u-text-2 {
    display: block;
    width: 1076px;
    height: 264px;
    background: url('../images/text-2.png') no-repeat;
    background-size: contain;
    margin: 128px auto 0;
  }

  .u-text-3 {
    display: block;
    width: 1082px;
    height: 902px;
    background: url('../images/text-3.png') no-repeat;
    background-size: contain;
    margin: 160px auto 0;
  }

  .u-text-bg-1 {
    display: block;
    width: 100%;
    height: 1000px;
    background: url('../images/text-bg-1.png') no-repeat;
    background-size: contain;
    margin: -102px auto 0;
  }

  .u-parallax-1 {
    position: relative;
    height: 1238px;
  }

  .u-sir-1 {
    display: block;
    width: 972px;
    height: 1238px;
    background: url('../images/sir1.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 82px;
    top: -50px;
  }

  .u-sir-text-1 {
    display: block;
    width: 488px;
    height: 192px;
    background: url('../images/sir1_txt.png') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 514px;
    left: 0;
  }

  .u-sir-word-1 {
    display: block;
    width: 536px;
    height: 514px;
    background: url('../images/sir1_shuo.png') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .u-parallax-item {
    transition: all .6s;
  }

  .u-anchor-1 {
    position: relative;
    height: 124px;
    width: 100%;

    .u-anchor-text-1 {
      display: block;
      position: absolute;
      top: 0;
      right: 82px;
      width: 494px;
      height: 124px;
      background: url('../images/1_dtxt@2x.png') no-repeat;
      background-size: contain;
    }
  }

  .u-parallax-2 {
    position: relative;
    height: 1098px;
    margin-top: 104px;
  }

  .u-sir-2 {
    display: block;
    width: 848px;
    height: 1098px;
    background: url('../images/2@2x.png') no-repeat;
    background-size: contain;
    position: absolute;
    left: 120px;
    top: 0;
  }

  .u-sir-text-2 {
    display: block;
    width: 654px;
    height: 104px;
    background: url('../images/2_txt@2x.png') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 560px;
    right: 0;
  }

  .u-sir-word-2 {
    display: block;
    width: 656px;
    height: 560px;
    background: url('../images/2_shuo@2x.png') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.u-tip {
  position: fixed;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  background-color: #ccc;
  color: #000;
  z-index: 10;
}
