html, body {
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container {
  overflow: hidden;
}

.swiper-slide {
  position: relative;
}

.u-select {
  display: flex;
  flex-direction: column;
}

.slide-img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: block;
}

.u-loading {
  color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,0);
}

.slide-img-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.slide-img-front {
  display: block;
  width: 260px;
  height: 175px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-65%);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: all 3.5s;
  transition: all 3.5s;
}

.swiper-slide-active .slide-img-front {
  opacity: 1;
}

.u-logo {
  display: block;
  width: 160px;
  height: 23px;
  position: absolute;
  top: 30px;
  right:26px; 
  background-size: contain;
  background-repeat: no-repeat;
}

.u-role {
  width: 80px;
  height: 144px;
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 15%;
}

.u-role + .u-role {
  margin-left: 15px;
}

.u-staff {
  background-image: url('http://img.pillele.cn/staff.png');
}

.u-user {
  background-image: url('http://img.pillele.cn/user.png');
}

.u-newer {
  background-image: url('http://img.pillele.cn/other.png');
}

.u-btn {
  width: 250px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-input {
  background-color: rgba(0, 0, 0, .1);
  border: none;
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  width: 70%;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 18px;
}

.u-input[placeholder] {
  color: #fff;
}

.u-btn {
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  width: 70%;
  text-align: center;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, .1);
  text-decoration: none;
}

.u-build {
  bottom: 20px;
}

.u-input-multiple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  padding: 50px 5px;
  position: absolute;
  height: 150px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed rgb(177, 175, 175);
  background-color: rgba(0, 0, 0, .1);
  width: 80%;
  color: #fff;
  resize: none;
  border-radius: 10px;
  text-align: center;
}

input::-webkit-input-placeholder {
  color: #fff;
}

textarea::-webkit-input-placeholder {
  color: #fff;
}

.u-shape-employee {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 80px;
  width: 172px;
  height: 20px;
  background-size: contain;
  background-image: url('http://img.pillele.cn/shape-employee.png');
  background-repeat: no-repeat;
}

.u-shape-user {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 80px;
  width: 140px;
  height: 20px;
  background-size: contain;
  background-image: url('http://img.pillele.cn/shape-user.png');
  background-repeat: no-repeat;
}

.u-gift-btn {
  bottom: 30px;
}

.u-gift-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #fff;
  font-size: 12px;
}

.u-modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #3a3a3a;
}

.u-info-modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .23);
}

.u-info-section {
  position: absolute;
  width: 80%;
  height: 200px;
  border-radius: 13px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(170, 123, 83, .8);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
}

.u-info {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  width: calc(100% - 30px);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.u-role-info {
  position: absolute;
  display: inline-block;
  top: 117px;
  left: 50%;
  min-width: 220px;
  width: 100%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  line-height: 1.2;
  font-size: 22px;
  color: #fff;
}

.u-delete {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 80px;
  right: 18px;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-info-delete {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 15px;
  right: 15px;
  background-image: url('http://img.pillele.cn/delete-1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.u-input-multiple .u-input {
  width: 100%;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
  margin-bottom: 0;
}

.u-input:focus, .u-input-multiple:focus {
  outline: none;
}

.u-input-multiple .u-input::-webkit-input-placeholder {
  font-size: 14px;
  color: #fff;
}

.u-arrow {
  width: 40px;
  height: 30px;
  background-image: url('http://img.pillele.cn/arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-animation: arrowdown 2s infinite ease;
  animation: arrowdown 2s infinite ease;
}

.u-form {
  opacity: 0;
}

.swiper-slide-active .u-form {
  opacity: 1;
}

@keyframes arrowdown{
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 50px;
  }
}
@-webkit-keyframes arrowdown{
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 50px;
  }
}